{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Giffz</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class = "topnav">
		<nav>
		<a class="active" href="/">Home</a>
		<a href="/search">Search</a>
		<a href="/saved">Saved</a>
  		<a href="/profile">Profile</a>
  	</nav>
	</div>
	<div class = "main">
		<div class="row">
  			<div class="column">
    		<img src="http://www.reactiongifs.com/r/oowwtl.gif" alt="Meme 1">
  	</div>
  		<div class="column">
    <img src="http://www.reactiongifs.com/r/omgshoop.gif" alt="Meme 2">
  </div>
  <div class="column">
    <img src="https://media.giphy.com/media/48KfvB77hzqhBgEbHI/giphy.gif" alt="Meme 3">
  </div>
  <div class="column">
    <img src="https://media.giphy.com/media/sJWNLTclcvVmw/giphy.gif" alt="Meme 4">
  </div>
  <div class="column">
    <img src="https://media.giphy.com/media/n7xcBeM2CVPR6/giphy.gif" alt="Meme 5">
  </div>
  <div class="column">
    <img src="https://media.giphy.com/media/oUmBwN6mihDY4/giphy.gif" alt="Meme 6">
  </div>
   <div class="column">
    <img src="https://media.giphy.com/media/QUKqSLmE7vmZP2PkZk/giphy.gif" alt="Meme 7">
  </div>
   <div class="column">
    <img src="https://media.giphy.com/media/2ya7xLyEeynlZM4FCw/giphy.gif" alt="Meme 8">
  </div>
</div>
</div>


</body>
</html>