{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Saved gifs</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class = "topnav">
		<nav>
            <a href="/">Home</a>
		    <a href="/search">Search</a>
		    <a class="active" href="/saved">Saved</a>
  		    <a href="/profile">Profile</a>
  		</nav>
	</div>

</body>
</html>