{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Search</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class = "topnav">
		<nav>
		    <a href="/">Home</a>
		    <a class="active" href="/search">Search</a>
		    <a href="/saved">Saved</a>
  		    <a href="/profile">Profile</a>
  		</nav>
	</div>
		<div class="main">
		<ol class = "mainOL">
			<li>Wow</li>
			<li>Nah
				<ul class = "mainUl">
					<li>Wow</li>
					<li>Nah</li>
					<li>LUL</li>
					<li>OMG</li>
				</ul>
			</li>
			<li>LUL</li>
			<li>OMG</li>
		</ol>
		</div>
</body>
</html>